/* FONTS */
@font-face {
    font-family: "Antraste";
    src: url("./fonts/Antraste_ver2.ttf");
}

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

/* CONTROLS */
.svgChange {
    fill: #ff873e;
}

.controls {
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 10;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

#touchZ {
    grid-column: 2;
}

#touchQ {
    grid-column: 2/1;
}

/* Bouton START*/
.start {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    display: grid;
    grid-template-columns: 1fr;
    position: fixed;
    z-index: 12;
}

.title {
    margin: auto;
    font-size: 60pt;
    color: #ea7443;
    font-family: Antraste;
}

.subTitle {
    margin: auto;
    font-size: 30pt;
    color: #57260c;
    font-family: Antraste;
}

.texteStart {
    margin: auto;
}
.texteStart>* {
    margin: 10px 0px 10px 0px;
}

.btnStart {
    margin: auto;
    background: #ea7443;
    padding: 10px 20px;
    width: fit-content;
    font-family: "Rethink Sans", sans-serif;
    font-size: 20pt;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}
.btnStart:hover {
    background: #57260c;
    box-shadow: 5px 5px 0px #ea7443;
}

.subTexte {
    font-family: "Rethink Sans", sans-serif;
    font-size: 15pt;
    width: 600px;
    text-align: justify;
    color: #57260c;
}

/* POP UP*/
div[class*="bigPopUp"] {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 12;
    display: none;
    grid-template-columns: 1fr;
}


.popUp {
    width: 80%;
    height: 80%;
    background: rgba(255, 255, 255, 0.71);
    padding: 30px;
    margin: auto;
    border-radius: 20px;
    text-align: center;
}

.croix {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30pt;
    font-family: "Rethink Sans", sans-serif;
    color: white;
    cursor: pointer;
    padding: 5px 23px 10px 23px;
    text-align: center;
    background: rgba(87, 38, 12, 0.66);
    border-radius: 50px;
    border: 2px solid white;
}

.bigFlex {
    display: grid;
    grid-template-columns: 1fr;
}

.popFlex {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 50px;
    align-items: start;
    justify-content: space-between;
}

.textPop {
    font-family: "Rethink Sans", sans-serif;
    font-size: 20pt;
    color: #57260c;
    text-align: left;
}

.btnPop {
    background: #ea7443;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20pt;
    font-family: "Rethink Sans", sans-serif;
    width: fit-content;
}
.btnPop:hover {
    background: #57260c;
    box-shadow: 5px 5px 0px #ea7443;
}
.btnPop>a {
    text-decoration: none;
    color: white;
}

/** PAGE CHARGEMENT **/
.chargement {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 15;
    background: white;
    display: grid;
    grid-template-columns: 1fr;
}

@keyframes blink {
    0% { opacity: 1; } /* Opacité maximale */
    50% { opacity: 0.3; } /* Opacité minimale */
    100% { opacity: 1; } /* Opacité maximale */
}

.textCharg {
    font-family: Antraste;
    color: #ea7443;
    font-size: 20pt;
    margin: auto;
    animation: blink 1.5s infinite; /* Définir l'animation pour clignoter */
}

